#guessTable th, #guessTable td {
    white-space: normal;
    word-wrap: break-word;
    font-size: 0.9rem;
    vertical-align: middle;
    padding: 0.75;
}

.correct {
    background-color: #2e8b57 !important; /* Green */
    color: #fff !important;
}
.partial {
    background-color: #f6be00 !important; /* Dark Yellow */
    color: #fff !important;
}
.incorrect {
    background-color: #b22222 !important; /* Red (Firebrick) */
    color: #fff !important;
}