.correct {
    background-color: #2e8b57 !important; /* Green */
    color: #fff !important;
}
.partial {
    background-color: #f6be00 !important; /* Dark Yellow */
    color: #fff !important;
}
.incorrect {
    background-color: #b22222 !important; /* Red (Firebrick) */
    color: #fff !important;
}

form {
    margin-top: 1.5rem;
}