main {
  max-width: 800px;
  margin: auto;
}

h2 {
    text-transform: 800px;
    font-weight: 700;
}

table th {
  font-weight: 700;
}

table td {
  font-size: 0.95rem;
}

.lead {
  font-size: 1.1rem;
  color: #ddd;
}