.players {
  position: fixed;
  top: 200px;
  left: 1rem;
  width: 200px;     /* Adjust as you prefer */
  z-index: 1;
  pointer-events: none;   /* Let clicks pass through if desired */
}

#player-messages .event {
  color: #198754;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
  text-align: left;
  pointer-events: auto;
}