.players {
  position: static;
  top: 200px;     /* optional, but will now do nothing */
  left: 1rem;
  width: 600px;
  z-index: 1;
  pointer-events: none;
}

#player-messages .event {
  color: #198764;
  padding: 0rem 1rem;
  border-radius: 6px;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  text-align: left;
  pointer-events: auto;
}